


.main-div{
    display: flex;
    flex-direction: column;
    flex-wrap: column;
border-left: rgb(138, 134, 135) solid 1px;
    width: 97%;
    background-color: rgb(37, 35, 35);
    height: 100%;
    padding-bottom:1%;
    padding-top:1%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-left: 1%;
    padding-right: 11%;
}

.form-top{
    display: flex;
align-content: center;
     padding-bottom: 3%; 
    border-bottom:grey solid 1px;
    background-color:rgb(37, 35, 35);
  width: 100%;
    margin-left: 0%;
    margin-bottom: 1%;
}
.input-top{
    display: flex;
    width: 98%;
    height: 47px;
    font-size: 40px;
    border: none;
    border-radius: 7px;
    outline:none;
    margin-left: 12px;
    caret-color:white;
    background-color: black;
}
.input-top[type=text]:focus {
    background-color:lightgoldenrodyellow
  }

.magnify-glass{
    width: 30px;
    height:30px;
    margin-top:20px;
    font-size: 40px;
    margin-bottom: 32px;
    cursor: pointer;

}
.search-section{
    display: flex;
    justify-content: space-between;
    border: black solid 6px;
    width: 70%;
    height: 20px;
    margin-top:3px;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 2px;
    border-radius: 12px;
    background-color:black;
    border: rgb(65, 61, 61) solid 1px;
align-self: center;
align-content: center;
margin-left: 8%;


}


.button-search{
    display: flex;
    align-items: center;
    height: 70px;
 
    background-color: transparent;
    border: none;
    margin-bottom: 13px;
    padding-bottom: 10px;

}

.image-boxes{
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none; */
    display: flex;
flex-wrap: wrap;
flex-direction: row;
    justify-content: space-around;
    background-color: rgb(24, 19, 20);
    text-align: center;
    align-content: center;
    color:white;
    font-size: 22px;
    font-weight: bolder;
    height: 100%;
  width: 85%;
  margin-left: 3%;
  margin-right: 7%;
  padding-top:24%; 
  padding-right: 10%;
  /* padding-left: 10%; */
  margin-top:10px;
 
    /* margin-top:15%; */
    /* width: 60%; */
    overflow: scroll;


}

.image-boxes>* {
    flex: 33% 33% 33.3333%;
}

li{
/* height: 600px;
    width: 600px;
    margin:20px; */
    /* flex: 0 32%;
    height: 600px;
    width: 600px;
  

    margin-bottom: 2%; (100-32*3)/2 */
    /* display: flex; */
    /* justify-self: center;
    align-content: center; */
    width: 377px;
    /* border:purple solid 3px; */
    margin-bottom:7px;
    margin-top:14px;
    text-align: center;
    margin:10px;
    color:white;
    font-size: 22px;
    font-weight: bolder;
 
    /* position: relative; */
    list-style: none;



}
.thumbnail{
    width: 100%;
    border: solid lightgray 3px;
}

.video-text{

color:white;
font-size: 22px;


} 
/* img {
    width: 408px;
    height: 288px;

} */



.videoItems {
    list-style: none;



}




.search-section {
	position: relative;
}
.search-section	i {
	position: absolute;
	width: 1px;
	height: 80%;
    margin-left: 12px;
	background-color: white;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.search-section input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* .youtube-logo{
margin-right:88%;
  
} */
.widen{
    color: white;
}

 

.youtube-logo{
    display: flex;
    /* letter-spacing: -1px; */
    color:white;
    align-content: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: -9px;
    font-size: 48px;
    align-self:center;
    margin-top:4px;
    
}

.menu{
    /* margin-top: 3%; */
    margin-left:3%;
}

/* section{
    background-color: darkseagreen;
  
    z-index: -9;
} */
.fixed-box{
    position:fixed;
    z-index: 5;
    background-color: pink;
    margin-top:6%;
    width:100%;
    height: 100%;
}