.navBar {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 35, 35);
  width: 8%;
  height: 100%;
  margin-top: 0px;
  padding-top: 1%;
  padding-left: 2%;
  transition: width 2s;
  z-index: -2;
}

.navBar > * {
  color: white;
  width: 100px;
  /* margin: 10px; */
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.navBar:hover {
  width: 300px;
}

.navBar > .allNavs > .widen {
  display: none;
}

.navBar:hover > .allNavs > .widen {
  display: inline;
  color: white;
  position: absolute;
}

.widen {
  margin-left: 12px;
}

img {
  margin-right: 15px;
}

#youtube {
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.allNavs:hover {
  background-size: 80px 80px;
  background-color: lightgray;
}

.allNavs > span {
  margin-left: 15px;
  font-family: roboto-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 38px;
}

#home {
  height: 90px;
  margin-top: 10px;
  margin-bottom: 10px;
}
