.App {
  position: fixed; 
  background-color: black;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

z-index:-8;

}




.nav-bar{

  z-index: 3;

}  





/* height: auto; */


.home-top-header{
 z-index: 0;
}

.show-video{
  background-color: brown;
}